:root {
    --button-size: 5vw;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}

body {
    display: grid;
    grid-template-areas:
        "top"
        "main";
    grid-template-rows: calc(var(--button-size) + var(--button-size) * 0.4 + var(--button-size) * 0.075) 1fr;
    background-color: #000;
}

main {
    grid-area: main;
}

main>canvas {
    display: block;
    width: 100%;
    height: 100%;
    /*background-color: #000;*/
}

button {
    all: unset;
    box-sizing: border-box;    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--button-size);
    height: var(--button-size);
    overflow: hidden;
    background-color: transparent;
    color: #fff;
    border: calc(var(--button-size) * 0.075) solid #fff;
    border-radius: calc(var(--button-size) * 0.2);
    text-align: center;
    cursor: pointer;
}

button>i {
    font-size: calc(var(--button-size) * 0.5);
}

button.selectable {
    border-radius: 50%;
    border-width: 0;
}

button.selectable.selected {
    border-width: calc(var(--button-size) * 0.075);
}

button.size,
button.color {
    width: var(--button-size);
}

button.color>i {
    font-size: calc(var(--button-size) * 2);
}

.top {
    display: grid;
    background-color: #000;
    grid-area: top;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: calc(var(--button-size) * 0.075) solid #fff;
}

.bottom {
    display: none;
}

.top-left,
.top-center,
.top-right {
    display: flex;
    align-items: center;
    gap: calc(var(--button-size) * 0.2);
    padding: calc(var(--button-size) * 0.2);
}

.top-left {
    /*background-color: red;*/
}

.top-center {
    /*background-color: green;*/
    justify-content: center;
}

.top-right {
    /*background-color: blue;*/
    justify-content: flex-end;
}

.clock {
    font-family: monospace;
    font-size: calc(var(--button-size) * 1);
    font-weight: bold;
}
