:root {
    --button-size: 5vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}

body {
    display: grid;
    grid-template-areas:
        "top"
        "main"
        "bottom";
    grid-template-rows: calc(var(--button-size) + var(--button-size) * 0.4 + var(--button-size) * 0.075) 1fr calc(var(--button-size) + var(--button-size) * 0.4 + var(--button-size) * 0.075);
}

/*
button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--button-size);
    height: calc(var(--button-size) - var(--button-size) / 10);
    overflow: hidden;
    padding-bottom: calc(var(--button-size) / 10);
    background-color: #ccc;
    border-radius: calc(var(--button-size) / 5);
    box-shadow: inset 0 calc((var(--button-size) / 10) * -1) 0 0 #333;
    text-align: center;
    cursor: pointer;
}
    */

button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--button-size);
    height: var(--button-size);
    overflow: hidden;
    background-color: #ccc;
    border: calc(var(--button-size) * 0.075) solid black;
    border-radius: calc(var(--button-size) * 0.2);
    text-align: center;
    cursor: pointer;
}

button>i {
    font-size: calc(var(--button-size) * 0.5);
}


button.pressed {
    /*
                height: calc(100% - var(--thickness) * 2);
                padding-buttom: unset;
                background-color: #c0c0c0;
                box-shadow: unset;
                transform: translateY(var(--thickness));    
    */
}

button.selectable {
    border-radius: 50%;
    border-width: 0;
}

button.selectable.selected {
    border-width: calc(var(--button-size) * 0.075);
}

button.size,
button.color {
    width: var(--button-size);
}

button.size[data-size="32px"] > i {
    font-size: 32px;
}

button.size[data-size="16px"] > i {
    font-size: 16px;
}

button.size[data-size="8px"] > i {
    font-size: 8px;
}

button.color > i {
    font-size: var(--button-size);
}

button.color[data-color="red"] > i {
    color: red;
}

.top {
    background-color: #aaa;
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: calc(var(--button-size) * 0.075) solid black;
}

.bottom {
    background-color: #bbb;
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: calc(var(--button-size) * 0.075) solid black;
}

.top-left,
.top-center,
.top-right,
.bottom-left,
.bottom-right {
    display: flex;
    align-items: center;
    gap: calc(var(--button-size) * 0.2);
    padding: calc(var(--button-size) * 0.2);
}

.top-left {
    /*background-color: red;*/
}

.top-center {
    /*background-color: green;*/
    justify-content: center;
}

.top-right {
    /*background-color: blue;*/
    justify-content: flex-end;
}

.bottom-left {
    /*background-color: yellow;*/
}

.bottom-right {
    /*background-color: purple;*/
    justify-content: flex-end;
}